USE [master]
GO
/****** Object:  Database [quanlychungcu]    Script Date: 11/07/2020 12:16:35 CH ******/
CREATE DATABASE [quanlychungcu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlychungcu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\quanlychungcu.mdf' , SIZE = 9408KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'quanlychungcu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\quanlychungcu_log.ldf' , SIZE = 13888KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlychungcu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlychungcu]
GO
/****** Object:  Table [dbo].[BAIGIUXE]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIGIUXE](
	[MABAIGIUXE] [nvarchar](10) NOT NULL,
	[LOAIXE] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABAIGIUXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CANHO]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANHO](
	[MACANHO] [nvarchar](10) NOT NULL,
	[TENCANHO] [nvarchar](20) NULL,
	[LOAICANHO] [nvarchar](10) NULL,
	[HINHANH] [image] NULL,
	[GIACANHO] [float] NULL,
	[TRANGTHAI] [nvarchar](30) NULL,
	[GHICHU] [nvarchar](50) NULL,
	[MAKHU] [nvarchar](10) NULL,
	[MAHOGD] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACANHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHDDICHVU]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHDDICHVU](
	[MACTHDDICHVU] [int] IDENTITY(1,1) NOT NULL,
	[MAHOADONDV] [nvarchar](10) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[GHICHU] [nvarchar](50) NULL,
	[MADICHVU] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTHDDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHDDIEN]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHDDIEN](
	[MACTHDDIEN] [int] IDENTITY(1,1) NOT NULL,
	[MAHOADONDIEN] [nvarchar](10) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTHDDIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHDNUOC]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHDNUOC](
	[MACTHDNUOC] [int] IDENTITY(1,1) NOT NULL,
	[MAHOADONNUOC] [nvarchar](10) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTHDNUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHOPDONGGD]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOPDONGGD](
	[MACTHOPDONG] [int] IDENTITY(1,1) NOT NULL,
	[MAHOPDONG] [nvarchar](10) NULL,
	[NGAYKYHOPDONG] [date] NULL,
	[THOIHAN] [nvarchar](10) NULL,
	[GIATRI] [float] NULL,
	[NOIDUNG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTHOPDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[MANHANVIEN] [nvarchar](10) NOT NULL,
	[TENDANGNHAP] [nvarchar](30) NULL,
	[MATKHAU] [nvarchar](20) NULL,
	[IDQUYEN] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADICHVU] [nvarchar](10) NOT NULL,
	[TENDICHVU] [nvarchar](30) NULL,
	[GIADICHVU] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONDICHVU]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONDICHVU](
	[MAHOADONDV] [nvarchar](10) NOT NULL,
	[TENHOADON] [nvarchar](30) NULL,
	[MANHANVIEN] [nvarchar](10) NULL,
	[MAHOGD] [nvarchar](10) NULL,
	[MACANHO] [nvarchar](10) NULL,
	[NGAYIN] [datetime] NULL,
	[TONGTIEN] [float] NULL,
	[GHICHU] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADONDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONDIEN]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONDIEN](
	[MAHOADONDIEN] [nvarchar](10) NOT NULL,
	[TENHOADON] [nvarchar](30) NULL,
	[MANHANVIEN] [nvarchar](10) NULL,
	[MAHOGD] [nvarchar](10) NULL,
	[MACANHO] [nvarchar](10) NULL,
	[NGAYIN] [datetime] NULL,
	[TONGTIEN] [float] NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADONDIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONNUOC]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNUOC](
	[MAHOADONNUOC] [nvarchar](10) NOT NULL,
	[TENHOADON] [nvarchar](30) NULL,
	[MANHANVIEN] [nvarchar](10) NULL,
	[MAHOGD] [nvarchar](10) NULL,
	[MACANHO] [nvarchar](10) NULL,
	[NGAYIN] [datetime] NULL,
	[TONGTIEN] [float] NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADONNUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOGIADINH]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOGIADINH](
	[MAHOGD] [nvarchar](10) NOT NULL,
	[TENCHUHO] [nvarchar](30) NULL,
	[SOCMND] [nvarchar](18) NULL,
	[SOLUONGTV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOPDONGGD]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONGGD](
	[MAHOPDONG] [nvarchar](10) NOT NULL,
	[TENHOPDONG] [nvarchar](30) NULL,
	[LOAIHOPDONG] [nvarchar](10) NULL,
	[MACANHO] [nvarchar](10) NULL,
	[MANHANVIEN] [nvarchar](10) NULL,
	[MAHOGD] [nvarchar](10) NULL,
	[TONGTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOPDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHU]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHU](
	[MAKHU] [nvarchar](10) NOT NULL,
	[TENKHU] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOILA]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOILA](
	[MANGUOILA] [nvarchar](10) NOT NULL,
	[SOCMND] [nvarchar](18) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANGUOILA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [nvarchar](10) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[EMAIL] [nvarchar](30) NULL,
	[SOCMND] [nvarchar](18) NULL,
	[HINHANH] [image] NULL,
	[MAPHONGBAN] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPHONGBAN] [nvarchar](10) NOT NULL,
	[TENPHONGBAN] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONGBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUANLYBAIGIUXE]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLYBAIGIUXE](
	[MAXE] [nvarchar](10) NULL,
	[MABAIGIUXE] [nvarchar](10) NULL,
	[MANHANVIEN] [nvarchar](10) NULL,
	[THOIGIANVAO] [datetime] NULL,
	[THOIGIANRA] [datetime] NULL,
	[MANGUOILA] [nvarchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[IDQUYEN] [nvarchar](10) NOT NULL,
	[TENQUYEN] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THANHVIENHOGD]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIENHOGD](
	[MATHANHVIEN] [nvarchar](10) NOT NULL,
	[HOTENTHANHVIEN] [nvarchar](30) NULL,
	[GIOITINHTV] [nvarchar](10) NULL,
	[SOCMND] [nvarchar](18) NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [nvarchar](10) NULL,
	[EMAIL] [nvarchar](30) NULL,
	[HINHANH] [image] NULL,
	[MAHOGD] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHANHVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[XE]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XE](
	[MAXE] [nvarchar](10) NOT NULL,
	[BIENSO] [nvarchar](10) NULL,
	[HANGXE] [nvarchar](30) NULL,
	[LOAIXE] [nvarchar](10) NULL,
	[MAUXE] [nvarchar](10) NULL,
	[MATHANHVIEN] [nvarchar](10) NULL,
	[MANHANVIEN] [nvarchar](10) NULL,
	[MABAIGIUXE] [nvarchar](10) NULL,
	[MATHEXE] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DANGNHAP] ([MANHANVIEN], [TENDANGNHAP], [MATKHAU], [IDQUYEN]) VALUES (N'1', N'tuananh', N'1206', N'ADMIN')
INSERT [dbo].[DANGNHAP] ([MANHANVIEN], [TENDANGNHAP], [MATKHAU], [IDQUYEN]) VALUES (N'2', N'diemquynh', N'2104', N'ADMIN')
INSERT [dbo].[DANGNHAP] ([MANHANVIEN], [TENDANGNHAP], [MATKHAU], [IDQUYEN]) VALUES (N'3', N'duchuy', N'1706', N'QUANLY')
INSERT [dbo].[KHU] ([MAKHU], [TENKHU]) VALUES (N'K1', N'Khu A')
INSERT [dbo].[KHU] ([MAKHU], [TENKHU]) VALUES (N'K2', N'Khu B')
INSERT [dbo].[KHU] ([MAKHU], [TENKHU]) VALUES (N'K3', N'Khu C')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HOTEN], [GIOITINH], [DIACHI], [SDT], [NGAYSINH], [EMAIL], [SOCMND], [HINHANH], [MAPHONGBAN]) VALUES (N'1', N'Phan Tuan Anh', N'Nam', N'Tam Ky', N'0396355253', CAST(N'1999-06-12' AS Date), N'phantuananhltt@gmail.com', N'206321161', 0x, N'GD')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HOTEN], [GIOITINH], [DIACHI], [SDT], [NGAYSINH], [EMAIL], [SOCMND], [HINHANH], [MAPHONGBAN]) VALUES (N'2', N'Le Thi Diem Quynh', N'N?', N'Dien Ban', N'0123456789', CAST(N'1999-04-21' AS Date), N'diemquynh@gmail.com', N'123456789', 0x, N'QLNL')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HOTEN], [GIOITINH], [DIACHI], [SDT], [NGAYSINH], [EMAIL], [SOCMND], [HINHANH], [MAPHONGBAN]) VALUES (N'3', N'Nguyen Duc Huy', N'Nam', N'Da Nang', N'0234567891', CAST(N'1999-06-17' AS Date), N'nguyenduchuy@gmail.com', N'234567891', 0x, N'QLNL')
INSERT [dbo].[PHONGBAN] ([MAPHONGBAN], [TENPHONGBAN]) VALUES (N'GD', N'Giam doc')
INSERT [dbo].[PHONGBAN] ([MAPHONGBAN], [TENPHONGBAN]) VALUES (N'NL', N'Nhan luc')
INSERT [dbo].[PHONGBAN] ([MAPHONGBAN], [TENPHONGBAN]) VALUES (N'QLNL', N'Quan ly nhan luc')
INSERT [dbo].[QUYEN] ([IDQUYEN], [TENQUYEN]) VALUES (N'ADMIN', N'Quyen Admin')
INSERT [dbo].[QUYEN] ([IDQUYEN], [TENQUYEN]) VALUES (N'NHANVIEN', N'Quyen Nhan Vien')
INSERT [dbo].[QUYEN] ([IDQUYEN], [TENQUYEN]) VALUES (N'QUANLY', N'Quyen Quan Ly')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__CTHDDICH__658D6E5655309C78]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[CTHDDICHVU] ADD UNIQUE NONCLUSTERED 
(
	[MAHOADONDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__CTHDDIEN__EC5229FB15659BD7]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[CTHDDIEN] ADD UNIQUE NONCLUSTERED 
(
	[MAHOADONDIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__CTHDNUOC__2413F7D8E7363217]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[CTHDNUOC] ADD UNIQUE NONCLUSTERED 
(
	[MAHOADONNUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__CTHOPDON__58E64D7A8EBDC5F4]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[CTHOPDONGGD] ADD UNIQUE NONCLUSTERED 
(
	[MAHOPDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__DANGNHAP__6C836FE53C7093B9]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[DANGNHAP] ADD UNIQUE NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__HOGIADIN__1F2DE5FA684738D3]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[HOGIADINH] ADD UNIQUE NONCLUSTERED 
(
	[SOCMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NGUOILA__1F2DE5FA4F9F2F19]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[NGUOILA] ADD UNIQUE NONCLUSTERED 
(
	[SOCMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__161CF7245F78D329]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__1F2DE5FA8525BE36]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[SOCMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__CA1930A5937F130D]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__THANHVIE__161CF724033E239A]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[THANHVIENHOGD] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__THANHVIE__1F2DE5FA2A92AB3B]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[THANHVIENHOGD] ADD UNIQUE NONCLUSTERED 
(
	[SOCMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__THANHVIE__CA1930A5884BAD4B]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[THANHVIENHOGD] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__XE__2B719FCDF3D0FB4D]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[XE] ADD UNIQUE NONCLUSTERED 
(
	[BIENSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__XE__301A88CD7484C8D7]    Script Date: 11/07/2020 12:16:35 CH ******/
ALTER TABLE [dbo].[XE] ADD UNIQUE NONCLUSTERED 
(
	[MATHEXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CANHO]  WITH CHECK ADD FOREIGN KEY([MAHOGD])
REFERENCES [dbo].[HOGIADINH] ([MAHOGD])
GO
ALTER TABLE [dbo].[CANHO]  WITH CHECK ADD FOREIGN KEY([MAKHU])
REFERENCES [dbo].[KHU] ([MAKHU])
GO
ALTER TABLE [dbo].[CTHDDICHVU]  WITH CHECK ADD FOREIGN KEY([MADICHVU])
REFERENCES [dbo].[DICHVU] ([MADICHVU])
GO
ALTER TABLE [dbo].[CTHDDICHVU]  WITH CHECK ADD FOREIGN KEY([MAHOADONDV])
REFERENCES [dbo].[HOADONDICHVU] ([MAHOADONDV])
GO
ALTER TABLE [dbo].[CTHDDIEN]  WITH CHECK ADD FOREIGN KEY([MAHOADONDIEN])
REFERENCES [dbo].[HOADONDIEN] ([MAHOADONDIEN])
GO
ALTER TABLE [dbo].[CTHDNUOC]  WITH CHECK ADD FOREIGN KEY([MAHOADONNUOC])
REFERENCES [dbo].[HOADONNUOC] ([MAHOADONNUOC])
GO
ALTER TABLE [dbo].[CTHOPDONGGD]  WITH CHECK ADD FOREIGN KEY([MAHOPDONG])
REFERENCES [dbo].[HOPDONGGD] ([MAHOPDONG])
GO
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD FOREIGN KEY([IDQUYEN])
REFERENCES [dbo].[QUYEN] ([IDQUYEN])
GO
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOADONDICHVU]  WITH CHECK ADD FOREIGN KEY([MACANHO])
REFERENCES [dbo].[CANHO] ([MACANHO])
GO
ALTER TABLE [dbo].[HOADONDICHVU]  WITH CHECK ADD FOREIGN KEY([MAHOGD])
REFERENCES [dbo].[HOGIADINH] ([MAHOGD])
GO
ALTER TABLE [dbo].[HOADONDICHVU]  WITH CHECK ADD FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOADONDIEN]  WITH CHECK ADD FOREIGN KEY([MACANHO])
REFERENCES [dbo].[CANHO] ([MACANHO])
GO
ALTER TABLE [dbo].[HOADONDIEN]  WITH CHECK ADD FOREIGN KEY([MAHOGD])
REFERENCES [dbo].[HOGIADINH] ([MAHOGD])
GO
ALTER TABLE [dbo].[HOADONDIEN]  WITH CHECK ADD FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOADONNUOC]  WITH CHECK ADD FOREIGN KEY([MACANHO])
REFERENCES [dbo].[CANHO] ([MACANHO])
GO
ALTER TABLE [dbo].[HOADONNUOC]  WITH CHECK ADD FOREIGN KEY([MAHOGD])
REFERENCES [dbo].[HOGIADINH] ([MAHOGD])
GO
ALTER TABLE [dbo].[HOADONNUOC]  WITH CHECK ADD FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[HOPDONGGD]  WITH CHECK ADD FOREIGN KEY([MACANHO])
REFERENCES [dbo].[CANHO] ([MACANHO])
GO
ALTER TABLE [dbo].[HOPDONGGD]  WITH CHECK ADD FOREIGN KEY([MAHOGD])
REFERENCES [dbo].[HOGIADINH] ([MAHOGD])
GO
ALTER TABLE [dbo].[HOPDONGGD]  WITH CHECK ADD FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MAPHONGBAN])
REFERENCES [dbo].[PHONGBAN] ([MAPHONGBAN])
GO
ALTER TABLE [dbo].[QUANLYBAIGIUXE]  WITH CHECK ADD FOREIGN KEY([MABAIGIUXE])
REFERENCES [dbo].[BAIGIUXE] ([MABAIGIUXE])
GO
ALTER TABLE [dbo].[QUANLYBAIGIUXE]  WITH CHECK ADD FOREIGN KEY([MANGUOILA])
REFERENCES [dbo].[NGUOILA] ([MANGUOILA])
GO
ALTER TABLE [dbo].[QUANLYBAIGIUXE]  WITH CHECK ADD FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[QUANLYBAIGIUXE]  WITH CHECK ADD FOREIGN KEY([MAXE])
REFERENCES [dbo].[XE] ([MAXE])
GO
ALTER TABLE [dbo].[THANHVIENHOGD]  WITH CHECK ADD FOREIGN KEY([MAHOGD])
REFERENCES [dbo].[HOGIADINH] ([MAHOGD])
GO
ALTER TABLE [dbo].[XE]  WITH CHECK ADD FOREIGN KEY([MABAIGIUXE])
REFERENCES [dbo].[BAIGIUXE] ([MABAIGIUXE])
GO
ALTER TABLE [dbo].[XE]  WITH CHECK ADD FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[XE]  WITH CHECK ADD FOREIGN KEY([MATHANHVIEN])
REFERENCES [dbo].[THANHVIENHOGD] ([MATHANHVIEN])
GO
ALTER TABLE [dbo].[QUANLYBAIGIUXE]  WITH CHECK ADD  CONSTRAINT [KIEMTRA_NGAY] CHECK  (([THOIGIANRA]>[THOIGIANVAO]))
GO
ALTER TABLE [dbo].[QUANLYBAIGIUXE] CHECK CONSTRAINT [KIEMTRA_NGAY]
GO
/****** Object:  StoredProcedure [dbo].[psDangNhap]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psDangNhap] @TENDANGNHAP nvarchar(30), @MATKHAU nvarchar(20), @IDQUYEN nvarchar(10)
as
begin transaction
	select count(*)
	from DANGNHAP
	where TENDANGNHAP = @TENDANGNHAP and MATKHAU = @MATKHAU and IDQUYEN = @IDQUYEN
if (@@ERROR <>0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psDoiMatKhau]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psDoiMatKhau] @TENDANGNHAP nvarchar(30), @MATKHAUCU nvarchar(20), @MATKHAUMOI nvarchar(20),
@XACNHANMATKHAUMOI nvarchar(20)
as
begin transaction
	update DANGNHAP set MATKHAU = @MATKHAUMOI where MATKHAU = @MATKHAUCU and @MATKHAUMOI = @XACNHANMATKHAUMOI and TENDANGNHAP = @TENDANGNHAP
if (@@ERROR <>0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiCanHo]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psHienThiCanHo]
as
begin transaction
	select * from CANHO
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiCTHopDong]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psHienThiCTHopDong] 
AS 
BEGIN TRANSACTION
		Select * from CTHOPDONGGD 
IF (@@ERROR <> 0)
ROLLBACK TRANSACTION
ELSE
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiDanhSachChiTietHoaDonDien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[psHienThiDanhSachChiTietHoaDonDien]
as
begin transaction
	select * from CTHDDIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiDanhSachDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psHienThiDanhSachDichVu]
as
begin transaction
	select * from DICHVU
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiDanhSachTaiKhoan]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psHienThiDanhSachTaiKhoan]
as
begin transaction
	select * from DANGNHAP
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiDanhSachTraCuuHoGiaDinh]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[psHienThiDanhSachTraCuuHoGiaDinh] @MAHOGD NVARCHAR(10), @TENCHUHO NVARCHAR(30), @MAKHU NVARCHAR(10)
AS
BEGIN TRANSACTION
	SELECT HOGIADINH.MAHOGD, TENCHUHO, KHU.MAKHU FROM HOGIADINH, CANHO, KHU WHERE HOGIADINH.MAHOGD=CANHO.MAHOGD AND CANHO.MAKHU=KHU.MAKHU AND HOGIADINH.MAHOGD=@MAHOGD AND TENCHUHO=@TENCHUHO AND KHU.MAKHU=@MAKHU
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiDanhSachTraCuuTheoMaHoGD]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psHienThiDanhSachTraCuuTheoMaHoGD] @MAHOGD NVARCHAR(10), @MAKHU NVARCHAR(10)
AS
BEGIN TRANSACTION
	SELECT HOGIADINH.MAHOGD, TENCHUHO, CANHO.MAKHU 
	FROM HOGIADINH, CANHO
	WHERE HOGIADINH.MAHOGD=CANHO.MAHOGD AND CANHO.MAKHU = @MAKHU AND HOGIADINH.MAHOGD=@MAHOGD
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiDanhSachTraCuuTheoMaKhu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[psHienThiDanhSachTraCuuTheoMaKhu] @MAKHU NVARCHAR(10)
AS
BEGIN TRANSACTION
	SELECT HOGIADINH.MAHOGD, TENCHUHO, CANHO.MAKHU 
	FROM HOGIADINH, CANHO
	WHERE HOGIADINH.MAHOGD=CANHO.MAHOGD AND CANHO.MAKHU = @MAKHU
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiDanhSachTraCuuTheoTenChuHo]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[psHienThiDanhSachTraCuuTheoTenChuHo] @TENCHUHO NVARCHAR(10), @MAKHU NVARCHAR(10)
AS
BEGIN TRANSACTION
	SELECT HOGIADINH.MAHOGD, TENCHUHO, CANHO.MAKHU 
	FROM HOGIADINH, CANHO
	WHERE HOGIADINH.MAHOGD=CANHO.MAHOGD AND CANHO.MAKHU = @MAKHU AND HOGIADINH.TENCHUHO=@TENCHUHO
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psHienThiDichVu]
as
begin transaction
	select * from DICHVU
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiHoaDonDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psHienThiHoaDonDichVu]
as
begin transaction
	select * from HOADONDICHVU
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiHoaDonDien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psHienThiHoaDonDien]
as
begin transaction
	select * from HOADONDIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiHoaDonNuoc]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psHienThiHoaDonNuoc]
as
begin transaction
	select * from HOADONNUOC
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiHoaDonVaChiTietDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psHienThiHoaDonVaChiTietDichVu]
as
begin transaction
	select  HOADONDICHVU.MAHOADONDV, TENHOADON, DICHVU.MADICHVU, SOLUONG, DONGIA, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG*DONGIA AS THANHTIEN, HOADONDICHVU.GHICHU
	FROM HOADONDICHVU, CTHDDICHVU, DICHVU
	WHERE DICHVU.MADICHVU = CTHDDICHVU.MADICHVU AND HOADONDICHVU.MAHOADONDV =  CTHDDICHVU.MAHOADONDV
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiHoaDonVaChiTietDichVuTheoMaHoaDon]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psHienThiHoaDonVaChiTietDichVuTheoMaHoaDon] @MAHOADONDV nvarchar(10)
as
begin transaction
	select  HOADONDICHVU.MAHOADONDV, TENHOADON, DICHVU.MADICHVU, SOLUONG, DONGIA, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG*DONGIA AS THANHTIEN, HOADONDICHVU.GHICHU
	FROM HOADONDICHVU, CTHDDICHVU, DICHVU
	WHERE DICHVU.MADICHVU = CTHDDICHVU.MADICHVU AND HOADONDICHVU.MAHOADONDV =  CTHDDICHVU.MAHOADONDV and HOADONDICHVU.MAHOADONDV = @MAHOADONDV
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiHoaDonVaChiTietHoaDonDien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psHienThiHoaDonVaChiTietHoaDonDien]
as
begin transaction
	select HOADONDIEN.MAHOADONDIEN, TENHOADON, SOLUONG, DONGIA, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG*DONGIA AS THANHTIEN, HOADONDIEN.GHICHU
	FROM HOADONDIEN, CTHDDIEN
	WHERE HOADONDIEN.MAHOADONDIEN=CTHDDIEN.MAHOADONDIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiHoaDonVaChiTietHoaDonDienTheoMaHoaDon]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psHienThiHoaDonVaChiTietHoaDonDienTheoMaHoaDon] @MAHOADONDIEN nvarchar(10)
as
begin transaction
	select HOADONDIEN.MAHOADONDIEN, TENHOADON, SOLUONG, DONGIA, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG*DONGIA AS THANHTIEN, HOADONDIEN.GHICHU
	FROM HOADONDIEN, CTHDDIEN
	WHERE HOADONDIEN.MAHOADONDIEN=CTHDDIEN.MAHOADONDIEN
	and HOADONDIEN.MAHOADONDIEN=@MAHOADONDIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiHoaDonVaChiTietHoaDonNuoc]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psHienThiHoaDonVaChiTietHoaDonNuoc]
as
begin transaction
	select HOADONNUOC.MAHOADONNUOC, TENHOADON, SOLUONG, DONGIA, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG*DONGIA AS THANHTIEN, HOADONNUOC.GHICHU
	FROM HOADONNUOC, CTHDNUOC
	WHERE HOADONNUOC.MAHOADONNUOC=CTHDNUOC.MAHOADONNUOC
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiHoaDonVaChiTietHoaDonNuocTheoMaHoaDon]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psHienThiHoaDonVaChiTietHoaDonNuocTheoMaHoaDon] @MAHOADONNUOC nvarchar(10)
as
begin transaction
	select HOADONNUOC.MAHOADONNUOC, TENHOADON, SOLUONG, DONGIA, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG*DONGIA AS THANHTIEN, HOADONNUOC.GHICHU
	FROM HOADONNUOC, CTHDNUOC
	WHERE HOADONNUOC.MAHOADONNUOC=CTHDNUOC.MAHOADONNUOC
	AND HOADONNUOC.MAHOADONNUOC=@MAHOADONNUOC
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiHoGD]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psHienThiHoGD]
AS
BEGIN TRANSACTION
	select * from HOGIADINH 
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiHoGiaDinh]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psHienThiHoGiaDinh]
as
begin transaction
	select * from HOGIADINH
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiHopDong]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psHienThiHopDong] 
AS 
BEGIN TRANSACTION
	Select * from HOPDONGGD
IF (@@ERROR <> 0)
ROLLBACK TRANSACTION
ELSE
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiHopDongVaChiTietHopDong]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psHienThiHopDongVaChiTietHopDong]
AS 
BEGIN TRANSACTION
		Select HOPDONGGD.MAHOPDONG,NGAYKYHOPDONG,THOIHAN, GIATRI,LOAIHOPDONG,TENHOPDONG,MACANHO,NHANVIEN.MANHANVIEN,HOTEN,HOGIADINH.MAHOGD,TENCHUHO,NOIDUNG, HOPDONGGD.TONGTIEN
		From HOPDONGGD,CTHOPDONGGD,NHANVIEN,HOGIADINH
		Where HOPDONGGD.MAHOPDONG = CTHOPDONGGD.MAHOPDONG and (NHANVIEN.MANHANVIEN = HOPDONGGD.MANHANVIEN) and (HOGIADINH.MAHOGD = HOPDONGGD.MAHOGD)
IF (@@ERROR <> 0)
ROLLBACK TRANSACTION
ELSE
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiKhu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psHienThiKhu]
AS
BEGIN TRANSACTION
	select * from KHU 
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION


GO
/****** Object:  StoredProcedure [dbo].[psHienThiMaKhu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psHienThiMaKhu] 
As
begin transaction
	select * from KHU
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiNhanVien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psHienThiNhanVien] 
as
begin transaction
	select * from NHANVIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiPhongBan]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psHienThiPhongBan]
as
begin transaction
	select * from PHONGBAN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiQuyen]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psHienThiQuyen]
as
begin transaction
	select * from QUYEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHienThiThanhVien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psHienThiThanhVien] 
AS
BEGIN TRANSACTION
	select * from THANHVIENHOGD 
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psHIENTHITHANHVIENTHEOHO]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psHIENTHITHANHVIENTHEOHO] @MAHOGD NVARCHAR (10)
AS
BEGIN TRANSACTION
	select *from THANHVIENHOGD WHERE MAHOGD = @MAHOGD
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psLoadComboBoxNhanVien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[psLoadComboBoxNhanVien]
as
begin transaction
	select MANHANVIEN, MANHANVIEN + ' - ' + HOTEN as MANVHOTEN from NHANVIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psSuaCanHo]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psSuaCanHo] @MACANHO NVARCHAR (10), @TENCANHO NVARCHAR (20),@LOAICANHO NVARCHAR (10), 
								@HINHANH IMAGE, @GIACANHO FLOAT,
								@GHICHU NVARCHAR(50), @MAKHU NVARCHAR (10), @MAHOGD NVARCHAR(10)
AS
BEGIN TRANSACTION
	if not exists (Select * from CANHO WHERE MACANHO = @MACANHO)
		return 
	else
		update CANHO set TENCANHO = @TENCANHO, LOAICANHO = @LOAICANHO, HINHANH = @HINHANH, GIACANHO = @GIACANHO,
									  GHICHU = @GHICHU, 
									MAKHU = @MAKHU, MAHOGD = @MAHOGD WHERE MACANHO = @MACANHO
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psSuaChiTietHoaDonDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[psSuaChiTietHoaDonDichVu] @MAHOADONDV NVARCHAR(10),
 @SOLUONG INT, 
 @DONGIA FLOAT, 
 @GHICHU NVARCHAR(50), 
 @MADICHVU NVARCHAR(10)
as
begin transaction
	if not exists (select * from CTHDDICHVU where MAHOADONDV = @MAHOADONDV)
		return
	else
		update CTHDDICHVU set SOLUONG=@SOLUONG,GHICHU=@GHICHU where MAHOADONDV = @MAHOADONDV
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psSuaChiTietHoaDonDien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psSuaChiTietHoaDonDien]
    @MAHOADONDIEN NVARCHAR (10),
    @SOLUONG      INT,
    @GHICHU       NVARCHAR (50)
as
begin transaction
	if not exists (select * from CTHDDIEN where MAHOADONDIEN = @MAHOADONDIEN)
		return
	else
		update CTHDDIEN set SOLUONG=@SOLUONG,GHICHU=@GHICHU WHERE MAHOADONDIEN=@MAHOADONDIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psSuaChiTietHoaDonNuoc]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[psSuaChiTietHoaDonNuoc]
    @MAHOADONNUOC NVARCHAR (10),
    @SOLUONG      INT,
    @GHICHU       NVARCHAR (50)
as
begin transaction
	if not exists (select * from CTHDNUOC where MAHOADONNUOC = @MAHOADONNUOC)
		return
	else
		update CTHDNUOC set SOLUONG=@SOLUONG,GHICHU=@GHICHU WHERE MAHOADONNUOC=@MAHOADONNUOC
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psSuaChiTietHopDong]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psSuaChiTietHopDong] @MAHOPDONG NVARCHAR (10), @NGAYKYHOPDONG DATETIME , @THOIHAN NVARCHAR (10), @GIATRI FLOAT, @NOIDUNG NVARCHAR (50)
AS 
BEGIN TRANSACTION
		if not exists (Select * from CTHOPDONGGD where MAHOPDONG = @MAHOPDONG)
			return
		else
			Update CTHOPDONGGD set MAHOPDONG = @MAHOPDONG, NGAYKYHOPDONG = @NGAYKYHOPDONG, THOIHAN= @THOIHAN, GIATRI = @GIATRI, NOIDUNG = @NOIDUNG where MAHOPDONG = @MAHOPDONG
IF (@@ERROR <> 0)
ROLLBACK TRANSACTION
ELSE
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psSuaDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psSuaDichVu] @MADICHVU NVARCHAR(10),  @TENDICHVU NVARCHAR(30), @GIADICHVU FLOAT
as
begin transaction
	if not exists (select * from DICHVU where MADICHVU = @MADICHVU)
		return
	else
		update DICHVU set TENDICHVU=@TENDICHVU, GIADICHVU=@GIADICHVU where MADICHVU=@MADICHVU
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psSuaHoaDonDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psSuaHoaDonDichVu] @MAHOADONDV NVARCHAR(10), 
	@TENHOADON NVARCHAR(30), 
	@MANHANVIEN NVARCHAR(10),
	@MAHOGD NVARCHAR(10), 
	@MACANHO NVARCHAR(10), 
	@NGAYIN DATETIME, 
	@TONGTIEN FLOAT,
	@GHICHU NVARCHAR(30)
as
begin transaction
	if not exists (select * from HOADONDICHVU where MAHOADONDV = @MAHOADONDV)
		return
	else
		update HOADONDICHVU set TENHOADON=@TENHOADON, MANHANVIEN=@MANHANVIEN, MAHOGD=@MAHOGD, MACANHO=@MACANHO, NGAYIN=@NGAYIN, TONGTIEN=@TONGTIEN, GHICHU=@GHICHU
							where MAHOADONDV = @MAHOADONDV
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psSuaHoaDonDien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psSuaHoaDonDien] (@MAHOADONDIEN NVARCHAR (10),
    @TENHOADON   NVARCHAR (30),
    @MANHANVIEN   NVARCHAR (10),
    @MAHOGD       NVARCHAR (10),
    @MACANHO      NVARCHAR (10),
    @NGAYIN      DATETIME,
    @TONGTIEN    FLOAT (53),
    @GHICHU       NVARCHAR (50))
as
begin transaction
	if not exists (select * from HOADONDIEN where MAHOADONDIEN = @MAHOADONDIEN)
		return
	else
		update HOADONDIEN set TENHOADON=@TENHOADON, MANHANVIEN=@MANHANVIEN, MAHOGD=@MAHOGD, MACANHO=@MACANHO, NGAYIN=@NGAYIN, TONGTIEN=@TONGTIEN, GHICHU=@GHICHU
							where MAHOADONDIEN=@MAHOADONDIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psSuaHoaDonNuoc]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psSuaHoaDonNuoc] (@MAHOADONNUOC NVARCHAR (10),
    @TENHOADON   NVARCHAR (30),
    @MANHANVIEN   NVARCHAR (10),
    @MAHOGD       NVARCHAR (10),
    @MACANHO      NVARCHAR (10),
    @NGAYIN      DATETIME,
    @TONGTIEN    FLOAT (53),
    @GHICHU       NVARCHAR (50))
as
begin transaction
	if not exists (select * from HOADONNUOC where MAHOADONNUOC = MAHOADONNUOC)
		return
	else
		update HOADONNUOC set TENHOADON=@TENHOADON, MANHANVIEN=@MANHANVIEN, MAHOGD=@MAHOGD, MACANHO=@MACANHO, NGAYIN=@NGAYIN, TONGTIEN=@TONGTIEN, GHICHU=@GHICHU
							where MAHOADONNUOC=MAHOADONNUOC
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psSuaHoGiaDinh]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psSuaHoGiaDinh] @MAHOGD NVARCHAR (10), @TENCHUHO NVARCHAR (30), @SOCMND NVARCHAR (18), @SOLUONGTV INT
AS
BEGIN TRANSACTION
	IF not EXISTS (Select * from HOGIADINH where MAHOGD = @MAHOGD)
		RETURN
	ELSE
		Update  HOGIADINH set MAHOGD = @MAHOGD, TENCHUHO  = @TENCHUHO, SOCMND = @SOCMND, SOLUONGTV = @SOLUONGTV where  MAHOGD = @MAHOGD
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psSuaHopDong]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psSuaHopDong] @MAHOPDONG NVARCHAR (10), @TENHOPDONG NVARCHAR (30), @LOAIHOPDONG NVARCHAR (10), @MACANHO NVARCHAR (10), @MANHANVIEN NVARCHAR (10), @MAHOGD NVARCHAR (10),@TONGTIEN float
AS 
BEGIN TRANSACTION
	IF not EXISTS (Select * from HOPDONGGD where @MAHOPDONG = MAHOPDONG)
		return
	else
		UPDATE HOPDONGGD SET TENHOPDONG= @TENHOPDONG, 
							LOAIHOPDONG = @LOAIHOPDONG,MACANHO = @MACANHO,
							MANHANVIEN= @MANHANVIEN,
							MAHOGD = @MAHOGD,
							TONGTIEN = @TONGTIEN
						WHERE MAHOPDONG = @MAHOPDONG
		begin
			if (@LOAIHOPDONG = 'Thuê')
			update CANHO set TRANGTHAI = 'Đã thuê' where @MaCanHo = MACANHO
			if (@LOAIHOPDONG = 'Mua')
				update CANHO set TRANGTHAI = 'Đã bán' where @MaCanHo = MACANHO
		END
IF (@@ERROR <> 0)
ROLLBACK TRANSACTION
ELSE
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psSuaNhanVien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psSuaNhanVien] 
	@MANHANVIEN NVARCHAR(10),
	@HOTEN NVARCHAR(30),
	@GIOITINH NVARCHAR(10),
	@DIACHI NVARCHAR(50),
	@SDT NVARCHAR(10),
	@NGAYSINH DATE,
	@EMAIL NVARCHAR(30),
	@SOCMND NVARCHAR(18),
	@HINHANH IMAGE,
	@MAPHONGBAN NVARCHAR(10)
as
begin transaction
	if not exists (select * from NHANVIEN where @MANHANVIEN = MANHANVIEN)
		return
	else
		update NHANVIEN set HOTEN = @HOTEN, GIOITINH = @GIOITINH, DIACHI = @DIACHI, SDT = @SDT, NGAYSINH = @NGAYSINH, 
		EMAIL = @EMAIL, SOCMND = @SOCMND, HINHANH = @HINHANH, MAPHONGBAN = @MAPHONGBAN where MANHANVIEN = @MANHANVIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psSuaTaiKhoan]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[psSuaTaiKhoan] @MANHANVIEN nvarchar(10), @TENDANGNHAP nvarchar(30), @MATKHAU nvarchar(20), @IDQUYEN nvarchar(10)
as
begin transaction
		if (((select count(*) from DANGNHAP where IDQUYEN = 'ADMIN') = 1) and (@IDQUYEN = 'QUANLY' or @IDQUYEN = 'NHANVIEN'))
			return
		else
			update DANGNHAP set TENDANGNHAP = @TENDANGNHAP, MATKHAU = @MATKHAU, IDQUYEN = @IDQUYEN where MANHANVIEN = @MANHANVIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psSuaThanhVienHoGD]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[psSuaThanhVienHoGD] @MATHANHVIEN NVARCHAR (10), @HOTENTHANHVIEN NVARCHAR (30), 
										@GIOITINHTV NVARCHAR (10),@SOCMND NVARCHAR (18), @NGAYSINH DATE,
										 @SDT NVARCHAR (10), 
										@EMAIL NVARCHAR (30), @HINHANH IMAGE, @MAHOGD NVARCHAR (10)
AS
BEGIN TRANSACTION
	IF NOT EXISTS (Select * from THANHVIENHOGD where MATHANHVIEN = @MATHANHVIEN)
		RETURN
	ELSE
	   UPDATE THANHVIENHOGD SET HOTENTHANHVIEN = @HOTENTHANHVIEN, GIOITINHTV = @GIOITINHTV, SOCMND = @SOCMND, @NGAYSINH = @NGAYSINH,
								SDT = @SDT, EMAIL = @EMAIL, HINHANH = @HINHANH, MAHOGD = @MAHOGD WHERE MATHANHVIEN = @MATHANHVIEN 
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemCanHo]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psThemCanHo] @MACANHO NVARCHAR (10), @TENCANHO NVARCHAR (20),@LOAICANHO NVARCHAR (10), @HINHANH IMAGE, @GIACANHO FLOAT, @TRANGTHAI NVARCHAR (30),@GHICHU NVARCHAR(50), @MAKHU NVARCHAR (10), @MAHOGD NVARCHAR(10)
AS
BEGIN TRANSACTION
	if exists (Select * from CANHO WHERE MACANHO = @MACANHO)
		return 
	else
		Insert into CANHO VALUES (@MACANHO,@TENCANHO, @LOAICANHO,@HINHANH,@GIACANHO,@TRANGTHAI,@GHICHU,@MAKHU,@MAHOGD)
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemChiTietHoaDonDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[psThemChiTietHoaDonDichVu] @MAHOADONDV NVARCHAR(10),
 @SOLUONG INT, 
 @DONGIA FLOAT, 
 @GHICHU NVARCHAR(50), 
 @MADICHVU NVARCHAR(10)
as
begin transaction
		insert into CTHDDICHVU values (@MAHOADONDV, @SOLUONG, @DONGIA, @GHICHU, @MADICHVU)
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemChiTietHoaDonDien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[psThemChiTietHoaDonDien]
    @MAHOADONDIEN NVARCHAR (10),
    @SOLUONG      INT,
    @DONGIA       FLOAT,
    @GHICHU       NVARCHAR (50)
as
begin transaction
		insert into CTHDDIEN values (@MAHOADONDIEN, @SOLUONG, @DONGIA, @GHICHU)
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemChiTietHoaDonNuoc]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[psThemChiTietHoaDonNuoc]
    @MAHOADONNUOC NVARCHAR (10),
    @SOLUONG      INT,
    @DONGIA       FLOAT,
    @GHICHU       NVARCHAR (50)
as
begin transaction
		insert into CTHDNUOC values (@MAHOADONNUOC, @SOLUONG, @DONGIA, @GHICHU)
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemChiTietHopDong]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psThemChiTietHopDong] @MAHOPDONG NVARCHAR (10), @NGAYKYHOPDONG DATETIME , @THOIHAN NVARCHAR (10), @GIATRI FLOAT, @NOIDUNG NVARCHAR (50)
AS 
BEGIN TRANSACTION
		INSERT INTO CTHOPDONGGD VALUES (@MAHOPDONG,@NGAYKYHOPDONG,@THOIHAN, @GIATRI,@NOIDUNG)
IF (@@ERROR <> 0)
ROLLBACK TRANSACTION
ELSE
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psThemDichVu] @MADICHVU NVARCHAR(10),  @TENDICHVU NVARCHAR(30), @GIADICHVU FLOAT
as
begin transaction
	if exists (select * from DICHVU where MADICHVU = @MADICHVU )
		return
	else
		insert into DICHVU values (@MADICHVU, @TENDICHVU, @GIADICHVU)
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemHoaDonDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[psThemHoaDonDichVu] @MAHOADONDV NVARCHAR(10), 
	@TENHOADON NVARCHAR(30), 
	@MANHANVIEN NVARCHAR(10),
	@MAHOGD NVARCHAR(10), 
	@MACANHO NVARCHAR(10), 
	@NGAYIN DATETIME, 
	@TONGTIEN FLOAT,
	@GHICHU NVARCHAR(30)
as
begin transaction
if exists (select * from HOADONDICHVU where MAHOADONDV = @MAHOADONDV)
		return
else
		insert into HOADONDICHVU values (@MAHOADONDV, @TENHOADON,@MANHANVIEN,@MAHOGD,@MACANHO,@NGAYIN,@TONGTIEN,@GHICHU)
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemHoaDonDien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psThemHoaDonDien]
    @MAHOADONDIEN NVARCHAR (10),
    @TENHOADON   NVARCHAR (30),
    @MANHANVIEN   NVARCHAR (10),
    @MAHOGD       NVARCHAR (10),
    @MACANHO      NVARCHAR (10),
    @NGAYIN      DATETIME,
    @TONGTIEN    FLOAT,
    @GHICHU       NVARCHAR (50)
as
begin transaction
if exists (select * from HOADONDIEN where MAHOADONDIEN = @MAHOADONDIEN)
		return
else
		insert into HOADONDIEN values (@MAHOADONDIEN, @TENHOADON,@MANHANVIEN,@MAHOGD,@MACANHO,@NGAYIN,@TONGTIEN,@GHICHU)
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemHoaDonNuoc]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[psThemHoaDonNuoc]
    @MAHOADONNUOC NVARCHAR (10),
    @TENHOADON   NVARCHAR (30),
    @MANHANVIEN   NVARCHAR (10),
    @MAHOGD       NVARCHAR (10),
    @MACANHO      NVARCHAR (10),
    @NGAYIN      DATETIME,
    @TONGTIEN    FLOAT,
    @GHICHU       NVARCHAR (50)
as
begin transaction
if exists (select * from HOADONNUOC where MAHOADONNUOC = @MAHOADONNUOC)
		return
else
		insert into HOADONNUOC values (@MAHOADONNUOC, @TENHOADON,@MANHANVIEN,@MAHOGD,@MACANHO,@NGAYIN,@TONGTIEN,@GHICHU)
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemHoGiaDinh]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psThemHoGiaDinh] @MAHOGD NVARCHAR (10), @TENCHUHO NVARCHAR (30), @SOCMND NVARCHAR (18), @SOLUONGTV INT
AS
BEGIN TRANSACTION
	IF EXISTS (Select * from HOGIADINH where MAHOGD = @MAHOGD)
		RETURN
	ELSE
		INSERT INTO HOGIADINH VALUES (@MAHOGD,@TENCHUHO,@SOCMND,@SOLUONGTV)
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemMoiHopDong2]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psThemMoiHopDong2] @MAHOPDONG NVARCHAR (10), @TENHOPDONG NVARCHAR (30), @LOAIHOPDONG NVARCHAR (10), @MACANHO NVARCHAR (10), @MANHANVIEN NVARCHAR (10), @MAHOGD NVARCHAR (10), @TONGTIEN float
AS 
BEGIN TRANSACTION
	IF EXISTS (Select * from HOPDONGGD where @MAHOPDONG = MAHOPDONG)
		return
	if exists (Select * from CANHO where @MACANHO = MACANHO and (TRANGTHAI = 'Đã bán' or TRANGTHAI = 'Đã thuê' ))
		begin
			print 'can ho co ng thuê'
			return 
		end
	else
		INSERT INTO HOPDONGGD VALUES (@MAHOPDONG,@TENHOPDONG,@LOAIHOPDONG,@MACANHO,@MANHANVIEN,@MAHOGD,@TONGTIEN)	
		begin
			if (@LOAIHOPDONG = 'Thuê')
			update CANHO set TRANGTHAI = 'Đã thuê' where @MaCanHo = MACANHO
			if (@LOAIHOPDONG = 'Mua')
				update CANHO set TRANGTHAI = 'Đã bán' where @MaCanHo = MACANHO
		END
IF (@@ERROR <> 0)
ROLLBACK TRANSACTION
ELSE
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemNhanVien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psThemNhanVien] 
	@MANHANVIEN NVARCHAR(10),
	@HOTEN NVARCHAR(30),
	@GIOITINH NVARCHAR(10),
	@DIACHI NVARCHAR(50),
	@SDT NVARCHAR(10),
	@NGAYSINH DATE,
	@EMAIL NVARCHAR(30),
	@SOCMND NVARCHAR(18),
	@HINHANH IMAGE,
	@MAPHONGBAN NVARCHAR(10)
as
begin transaction
	if exists (select * from NHANVIEN where @MANHANVIEN = MANHANVIEN)
		return
	else
		insert into NHANVIEN values (@MANHANVIEN, @HOTEN, @GIOITINH, @DIACHI, @SDT, @NGAYSINH,
		 @EMAIL, @SOCMND, @HINHANH, @MAPHONGBAN)
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemTaiKhoan]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psThemTaiKhoan] @MANHANVIEN nvarchar(10), @TENDANGNHAP nvarchar(30), @MATKHAU nvarchar(20), @IDQUYEN nvarchar(10)
as
begin transaction
	if exists (select * from DANGNHAP where @MANHANVIEN = MANHANVIEN or @TENDANGNHAP = TENDANGNHAP)
		return
	else
		insert into DANGNHAP values (@MANHANVIEN, @TENDANGNHAP, @MATKHAU, @IDQUYEN)
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemThanhVienHoGD]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psThemThanhVienHoGD]  @MATHANHVIEN NVARCHAR (10), @HOTENTHANHVIEN NVARCHAR (30), 
								@GIOITINHTV NVARCHAR (10), @SOCMND NVARCHAR (18), @NGAYSINH date, @SDT NVARCHAR (10), 
								@EMAIL NVARCHAR (30), @HINHANH IMAGE, @MAHOGD NVARCHAR (10)
AS
BEGIN TRANSACTION
	IF EXISTS (Select * from THANHVIENHOGD where MATHANHVIEN = @MATHANHVIEN)
		RETURN
	ELSE
		INSERT INTO THANHVIENHOGD VALUES (@MATHANHVIEN,@HOTENTHANHVIEN,@GIOITINHTV,@SOCMND,@NGAYSINH, @SDT,@EMAIL,@HINHANH,@MAHOGD)
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemTongTienChoHoaDonDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psThemTongTienChoHoaDonDichVu]
    @MAHOADONDV NVARCHAR (10),
    @TONGTIEN       FLOAT
as
begin transaction
		update HOADONDICHVU set TONGTIEN=@TONGTIEN where MAHOADONDV = @MAHOADONDV	
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemTongTienChoHoaDonDien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[psThemTongTienChoHoaDonDien]
    @MAHOADONDIEN NVARCHAR (10),
    @TONGTIEN       FLOAT
as
begin transaction
		update HOADONDIEN set TONGTIEN=@TONGTIEN where MAHOADONDIEN=@MAHOADONDIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemTongTienChoHoaDonNuoc]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[psThemTongTienChoHoaDonNuoc]
    @MAHOADONNUOC NVARCHAR (10),
    @TONGTIEN       FLOAT
as
begin transaction
		update HOADONNUOC set TONGTIEN=@TONGTIEN where MAHOADONNUOC=@MAHOADONNUOC
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThemTongTienHopDong]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psThemTongTienHopDong]
    @MAHOPDONG NVARCHAR (10),
    @TONGTIEN       FLOAT
AS 
BEGIN TRANSACTION
		update HOPDONGGD set TONGTIEN=@TONGTIEN where MAHOPDONG = @MAHOPDONG
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThongKeCanHo]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psThongKeCanHo] @TRANGTHAI NVARCHAR(30)
as
begin transaction
	select b.MACANHO, TENCANHO, LOAICANHO, TRANGTHAI, GIACANHO, b.MAKHU, THOIHAN, GIATRI, TONGTIEN
	from KHU a, CANHO b, HOPDONGGD c, CTHOPDONGGD d
	where a.MAKHU = b.MAKHU and b.MACANHO = c.MACANHO and c.MAHOPDONG = d.MAHOPDONG and TRANGTHAI = @TRANGTHAI
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThongKeCanHoTheoTrangThai]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psThongKeCanHoTheoTrangThai] @TRANGTHAI NVARCHAR(30)
as
begin transaction
	select *
	from CANHO
	where TRANGTHAI = @TRANGTHAI
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThongKeDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psThongKeDichVu] @THANG int, @NAM int
as
begin transaction
	select b.MACTHDDICHVU, TENDICHVU, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG, DONGIA, TONGTIEN
	from DICHVU a, CTHDDICHVU b ,HOADONDICHVU c
	where a.MADICHVU = b.MADICHVU and b.MAHOADONDV = c.MAHOADONDV and MONTH(NGAYIN) = @THANG and YEAR(NGAYIN) = @NAM
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThongKeDichVuTheoNam]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[psThongKeDichVuTheoNam] @NAM int
as
begin transaction
	select b.MACTHDDICHVU, TENDICHVU, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG, DONGIA, TONGTIEN
	from DICHVU a, CTHDDICHVU b ,HOADONDICHVU c
	where a.MADICHVU = b.MADICHVU and b.MAHOADONDV = c.MAHOADONDV and YEAR(NGAYIN) = @NAM
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThongKeDichVuTheoThang]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psThongKeDichVuTheoThang] @THANG int, @NAM int
as
begin transaction
	select b.MACTHDDICHVU, TENDICHVU, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG, DONGIA, TONGTIEN
	from DICHVU a, CTHDDICHVU b ,HOADONDICHVU c
	where a.MADICHVU = b.MADICHVU and b.MAHOADONDV = c.MAHOADONDV and MONTH(NGAYIN) = @THANG and YEAR(NGAYIN) = @NAM
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThongKeDoanhThu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[psThongKeDoanhThu] @THANG int, @NAM int
as
begin transaction
	declare @TongTienDichVu float
	declare @TongTienDien float
	declare @TongTienNuoc float
	set @TongTienDichVu = (select SUM(TONGTIEN)
	from HOADONDICHVU
	where MONTH(NGAYIN) = @THANG and YEAR(NGAYIN) = @NAM)
	set @TongTienDien = (select SUM(TONGTIEN)
	from HOADONDIEN
	where MONTH(NGAYIN) = @THANG and YEAR(NGAYIN) = @NAM)
	set @TongTienNuoc = (select SUM(TONGTIEN)
	from HOADONNUOC
	where MONTH(NGAYIN) = @THANG and YEAR(NGAYIN) = @NAM)
	select @TongTienDichVu, @TongTienDien, @TongTienNuoc
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThongKeDoanhThuTheoNam]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psThongKeDoanhThuTheoNam] @NAM int
as
begin transaction
	declare @TongTienDichVu float
	declare @TongTienDien float
	declare @TongTienNuoc float
	set @TongTienDichVu = (select SUM(TONGTIEN)
	from HOADONDICHVU
	where YEAR(NGAYIN) = @NAM)
	set @TongTienDien = (select SUM(TONGTIEN)
	from HOADONDIEN
	where YEAR(NGAYIN) = @NAM)
	set @TongTienNuoc = (select SUM(TONGTIEN)
	from HOADONNUOC
	where YEAR(NGAYIN) = @NAM)
	select @TongTienDichVu, @TongTienDien, @TongTienNuoc
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThongKeTienDien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psThongKeTienDien] @THANG int, @NAM int
as
begin transaction
	select b.MACTHDDIEN, TENHOADON, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG, DONGIA, TONGTIEN
	from HOADONDIEN a, CTHDDIEN b
	where a.MAHOADONDIEN = b.MAHOADONDIEN and MONTH(NGAYIN) = @THANG and YEAR(NGAYIN) = @NAM
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThongKeTienDienTheoNam]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psThongKeTienDienTheoNam] @NAM int
as
begin transaction
	select b.MACTHDDIEN, TENHOADON, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG, DONGIA, TONGTIEN
	from HOADONDIEN a, CTHDDIEN b
	where a.MAHOADONDIEN = b.MAHOADONDIEN and YEAR(NGAYIN) = @NAM
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThongKeTienDienTheoThang]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psThongKeTienDienTheoThang] @THANG int, @NAM int
as
begin transaction
	select b.MACTHDDIEN, TENHOADON, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG, DONGIA, TONGTIEN
	from HOADONDIEN a, CTHDDIEN b
	where a.MAHOADONDIEN = b.MAHOADONDIEN and MONTH(NGAYIN) = @THANG and YEAR(NGAYIN) = @NAM
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThongKeTienNuoc]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[psThongKeTienNuoc] @THANG int, @NAM int
as
begin transaction
	select b.MACTHDNUOC, TENHOADON, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG, DONGIA, TONGTIEN
	from HOADONNUOC a, CTHDNUOC b
	where a.MAHOADONNUOC = b.MAHOADONNUOC and MONTH(NGAYIN) = @THANG and YEAR(NGAYIN) = @NAM
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThongKeTienNuocTheoNam]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[psThongKeTienNuocTheoNam] @NAM int
as
begin transaction
	select b.MACTHDNUOC, TENHOADON, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG, DONGIA, TONGTIEN
	from HOADONNUOC a, CTHDNUOC b
	where a.MAHOADONNUOC = b.MAHOADONNUOC and YEAR(NGAYIN) = @NAM
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psThongKeTienNuocTheoThang]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[psThongKeTienNuocTheoThang] @THANG int, @NAM int
as
begin transaction
	select b.MACTHDNUOC, TENHOADON, MANHANVIEN, MAHOGD, MACANHO, NGAYIN, SOLUONG, DONGIA, TONGTIEN
	from HOADONNUOC a, CTHDNUOC b
	where a.MAHOADONNUOC = b.MAHOADONNUOC and MONTH(NGAYIN) = @THANG and YEAR(NGAYIN) = @NAM
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psTimCanHo]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psTimCanHo] @MACANHO NVARCHAR (10)
AS
BEGIN TRANSACTION
	Select * from CANHO WHERE MACANHO = @MACANHO
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psTimCTHopDong]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psTimCTHopDong] @MAHOPDONG NVARCHAR (10)
AS 
BEGIN TRANSACTION
		Select * from CTHOPDONGGD where MAHOPDONG = @MAHOPDONG
IF (@@ERROR <> 0)
ROLLBACK TRANSACTION
ELSE
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psTimHoGiaDinh]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psTimHoGiaDinh] @MAHOGD NVARCHAR (10)
AS
BEGIN TRANSACTION
	select * from HOGIADINH WHERE MAHOGD = @MAHOGD
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psTimHopDong]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psTimHopDong] @MAHOPDONG NVARCHAR (10)
AS 
BEGIN TRANSACTION
	Select HOPDONGGD.MAHOPDONG,NGAYKYHOPDONG,THOIHAN, GIATRI,LOAIHOPDONG,TENHOPDONG,MACANHO,NHANVIEN.MANHANVIEN,HOTEN,HOGIADINH.MAHOGD,TENCHUHO,NOIDUNG, HOPDONGGD.TONGTIEN
	From HOPDONGGD,CTHOPDONGGD,NHANVIEN,HOGIADINH
	Where HOPDONGGD.MAHOPDONG = CTHOPDONGGD.MAHOPDONG and (NHANVIEN.MANHANVIEN = HOPDONGGD.MANHANVIEN) and (HOGIADINH.MAHOGD = HOPDONGGD.MAHOGD) and (HOPDONGGD.MAHOPDONG = @MAHOPDONG)
IF (@@ERROR <> 0)
ROLLBACK TRANSACTION
ELSE
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psTimKiemChiTietHoaDonDienTheoMaHoaDon]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psTimKiemChiTietHoaDonDienTheoMaHoaDon] @MAHOADONDIEN nvarchar(10)
as
begin transaction
	select * from CTHDDIEN where MAHOADONDIEN = @MAHOADONDIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psTimKiemChiTietHoaDonNuocTheoMaHoaDon]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psTimKiemChiTietHoaDonNuocTheoMaHoaDon] @MAHOADONNUOC nvarchar(10)
as
begin transaction
	select * from CTHDNUOC where MAHOADONNUOC = @MAHOADONNUOC
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psTimKiemDichVuTheoTenDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psTimKiemDichVuTheoTenDichVu] @MADICHVU nvarchar(10)
as
begin transaction
	select * from DICHVU where MADICHVU = @MADICHVU
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psTimKiemHoaDonDichVuTheoMaHoaDon]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psTimKiemHoaDonDichVuTheoMaHoaDon] @MAHOADONDV nvarchar(10)
as
begin transaction
	select * from HOADONDICHVU where MAHOADONDV = @MAHOADONDV	
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psTimKiemNhanVien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psTimKiemNhanVien] @MANHANVIEN NVARCHAR(10)
as
begin transaction
	select * from NHANVIEN where @MANHANVIEN = MANHANVIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psTimKiemTaiKhoan]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psTimKiemTaiKhoan] @TENDANGNHAP nvarchar(30)
as
begin transaction
	select * from DANGNHAP where TENDANGNHAP = @TENDANGNHAP
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psTimThanhVien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psTimThanhVien] @MATHANHVIEN NVARCHAR (10)
AS
BEGIN TRANSACTION
	select *from THANHVIENHOGD WHERE MATHANHVIEN = @MATHANHVIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psXoaCanHo]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psXoaCanHo] @MACANHO NVARCHAR (10)
AS
BEGIN TRANSACTION
	if exists (Select * from CANHO WHERE MACANHO = @MACANHO)
		DELETE FROM CANHO WHERE MACANHO = @MACANHO
	else
		PRINT 'KHONG CÓ CĂN HÔ NÀY'
		
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psXoaChiTietHoaDonDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psXoaChiTietHoaDonDichVu] @MAHOADONDV NVARCHAR (10)
as
begin transaction
		delete from CTHDDICHVU where MAHOADONDV = @MAHOADONDV	
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psXoaChiTietHoaDonDien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psXoaChiTietHoaDonDien] @MAHOADONDIEN NVARCHAR (10)
as
begin transaction
		delete from CTHDDIEN where MAHOADONDIEN = @MAHOADONDIEN		
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psXoaChiTietHoaDonNuoc]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psXoaChiTietHoaDonNuoc] @MAHOADONNUOC NVARCHAR (10)
as
begin transaction
		delete from CTHDNUOC where MAHOADONNUOC = @MAHOADONNUOC		
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psXoaCTHopDong]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psXoaCTHopDong] @MAHOPDONG NVARCHAR (10)
AS 
BEGIN TRANSACTION
		if not exists (Select * from CTHOPDONGGD where MAHOPDONG = @MAHOPDONG)
			return
		else
			Delete from CTHOPDONGGD where MAHOPDONG = @MAHOPDONG
IF (@@ERROR <> 0)
ROLLBACK TRANSACTION
ELSE
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psXoaDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psXoaDichVu] @MADICHVU NVARCHAR(10)
as
begin transaction
		delete from DICHVU where MADICHVU = @MADICHVU		
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psXoaHoaDonDichVu]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psXoaHoaDonDichVu] @MAHOADONDV NVARCHAR (10)
as
begin transaction
		delete from HOADONDICHVU where MAHOADONDV = @MAHOADONDV
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psXoaHoaDonDien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psXoaHoaDonDien] @MAHOADONDIEN NVARCHAR (10)
as
begin transaction
		delete from HOADONDIEN where MAHOADONDIEN = @MAHOADONDIEN		
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psXoaHoaDonNuoc]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[psXoaHoaDonNuoc] @MAHOADONNUOC NVARCHAR (10)
as
begin transaction
		delete from HOADONNUOC where MAHOADONNUOC = @MAHOADONNUOC		
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psXoaHoGiaDinh]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psXoaHoGiaDinh] @MAHOGD NVARCHAR (10)
AS
BEGIN TRANSACTION
	IF not EXISTS (Select * from HOGIADINH where MAHOGD = @MAHOGD)
		RETURN
	ELSE
		DELETE FROM  HOGIADINH WHERE MAHOGD = @MAHOGD
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psXoaHopDong]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[psXoaHopDong] @MAHOPDONG NVARCHAR (10)
AS 
Declare @MaCanHo nvarchar (10)
BEGIN TRANSACTION
	IF not EXISTS (Select * from HOPDONGGD where @MAHOPDONG = MAHOPDONG)
		return
	else
		Begin
			update CANHO set TRANGTHAI = 'Trống' where @MaCanHo = MACANHO
		End
		DELETE FROM HOPDONGGD where MAHOPDONG = @MAHOPDONG
IF (@@ERROR <> 0)
ROLLBACK TRANSACTION
ELSE
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psXoaNhanVien]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psXoaNhanVien] @MANHANVIEN NVARCHAR(10)
as
begin transaction
	delete from NHANVIEN where @MANHANVIEN = MANHANVIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psXoaTaiKhoan]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[psXoaTaiKhoan] @TENDANGNHAP nvarchar(30)
as
begin transaction
	if ((select count(*) from DANGNHAP where IDQUYEN = 'ADMIN') = 1)
		delete from DANGNHAP where TENDANGNHAP = @TENDANGNHAP and IDQUYEN != 'ADMIN'
	else
		delete from DANGNHAP where TENDANGNHAP = @TENDANGNHAP		
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION

GO
/****** Object:  StoredProcedure [dbo].[psXoaThanhVienHoGD]    Script Date: 11/07/2020 12:16:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[psXoaThanhVienHoGD] @MATHANHVIEN NVARCHAR (10)
AS
BEGIN TRANSACTION
	IF NOT EXISTS (Select * from THANHVIENHOGD where MATHANHVIEN = @MATHANHVIEN)
		RETURN
	ELSE
		DELETE FROM THANHVIENHOGD WHERE MATHANHVIEN = @MATHANHVIEN
if (@@ERROR <> 0)
ROLLBACK TRANSACTION
else
COMMIT TRANSACTION


GO
USE [master]
GO
